{{!-- Navbar --}}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid ">
        <div class="d-flex justify-content-between w-100">
            <div class="d-flex justify-content-start align-items-center text-light">
                <img src="/images/logo-haltere.png" alt=""
                    class="border rounded rounded-5 border-2 border-dark border-opacity-25 rounded-circle p-1 haltere">
                <h1 class="ms-4">HappySport</h1>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/admin">Retour</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Déconnexion</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<h2 class="text-center mt-4">Mise à jour du partenaire {{partner.name}}</h2>
<div class="container mt-5">
    {{#if message}}
    <div class="d-flex flex-column align-items-center">
        <div class="alert alert-success mt-4 mb-5" role="alert">
            <p class="text-center">{{message}}</p>
        </div>
        <a href="/admin">
            <button type="button" class="btn btn-dark">Retour à la liste des partenaires</button>
        </a>
    </div>
    {{/if}}
    {{#if error}}
    <div class="d-flex flex-column align-items-center">
        <div class="alert alert-danger mt-4 mb-5" role="alert">
            <p class="text-center">{{error}}</p>
        </div>
        <a href="/admin">
            <button type="button" class="btn btn-dark">Retour à la liste des partenaires</button>
        </a>
    </div>
    {{/if}}
    <div class="card mx-auto mt-2 mb-2" style="width: 18rem;">
        <img class="card-img-top" src="{{partner.image_url}}" alt="Card image cap">

        <div class="card-body">
            <h5 class="card-title">{{partner.name}}</h5>
            <p class="card-text">{{partner.description}}</p>
            {{#if partner.is_active}}
            <span class="badge rounded-pill text-bg-success">Actif</span>
            {{else}}
            <span class="badge rounded-pill text-bg-secondary">Inactif</span>
            {{/if}}
        </div>
    </div>
    {{#partner}}
    <form method="post" action="/admin/updatePartner/{{id}}">
        <div class="mb-3">
            <label for="name" class="form-label">Nom du partenaire</label>
            <input type="text" class="form-control" id="name" aria-describedby="emailHelp" name="name"
                value="{{name}}" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Adresse Mail de contact</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email"
                value="{{email}}" required>
            <div id="emailHelp" class="form-text">Merci de choisir le nom de la franchise comme suit :
                "nom@happysport.com"</div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="description" id="description" cols="15" rows="4" class="form-control"
                required>{{description}}</textarea>
        </div>
        <div class="mb-3">
            <label for="image_url" class="form-label">Image</label>
            <input type="text" class="form-control" id="image_url" aria-describedby="emailHelp" name="image_url"
                value="{{image_url}}" required>
            <div id="emailHelp" class="form-text">Veuillez indiquer l'url de l'image</div>
        </div>
        {{#if is_active}}
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="is_active" id="active" value="true" checked>
            <label class="form-check-label" for="active">Actif</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="is_active" id="inactive" value="false">
            <label class="form-check-label mb-3" for="inactive">Inactif</label>
        </div>
        {{else}}
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="is_active" id="active" value="true">
            <label class="form-check-label" for="active">Actif</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="is_active" id="inactive" value="false" checked>
            <label class="form-check-label mb-3" for="inactive">Inactif</label>
        </div>
        {{/if}}
        <div class="d-flex justify-content-between flex-wrap">
            <h6>Modules déjà actifs : </h6>
            {{#if Modules}}
            {{#Modules}}
            <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" value="{{id}}" id="module" name="module" checked
                    disabled>
                <label class="form-check-label" for="module">
                    {{name}}
                </label>
            </div>
            {{/Modules}}
            {{/if}}
        </div>
{{/partner}}
        <div class="d-flex justify-content-between flex-wrap">
            <h6>Choix des nouveaux modules :</h6>
            {{#each modules}}
            <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" value="{{id}}" id="module" name="module">
                <label class="form-check-label" for="module">
                    {{name}}
                </label>
            </div>
            {{/each}}
        </div>

        <button type="submit" class="btn btn-success">Valider</button>
    </form>
    
</div>